//* celulares *//


@media (max-width: 800px)
{
   .contenedor
   {
       width: 100%;
   }

   .listado-izquiero, .listad-noticias
   {
       display: inline-block;
   }
    .listado-izquierdo {
        width: auto;
        display: inline-grid;
        float: none;
        grid-template-columns: 1fr;
    }
    
    .listad-noticias {
        width: auto;
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-gap: 20px;
    }
    .contenido
    {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 2fr 3fr;
        text-align: center;
    }

    .menu, .nav {
        width: 100%;
    }
    .footer 
    {
        margin: 10px;
        width: 99%;
    }

    .newsletter {
        width:99%;
        height: 200px;
        margin-top: 10px;
        position: relative;
    }
}


@media (max-width: 600px) {
    .listado-izquierdo {
        display: none;
    }

    .nosotros {
        display: none;
    }

    .menu {
        width: 100%;
    }

    .noticia {
        flex-direction: column;
        width: 90%;
        display: block;
        text-align: center;
    }

    .contenedor, .nav, .footer, .newsletter, .noticia, .contenido, .listad-noticias {
        width: 99%;
    }

    .cuerpo img {
        width: 100%;
    }

    .listad-noticias {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    footer {
        margin: 10px;
    }

    .newsletter {
        height: 200px;
        margin-top: 10px;
        position: relative;
    }

    .input-menu {
        width: 40%;
    }

    .contacto {
        font-size: 12px;
    }
    .contenido {
        grid-template-columns: 3fr;
    }
}